@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}

h1,
h2,
h3 {
  font-weight: 500;
}
